<h2>ログイン</h2>
<form action="/login" method="post">
  <label for="email">メールアドレス；</label><br>
  <input type="email" id="email" name="email" required><br>
  <label for="password">パスワード：</label><br>
  <input type="password" id="password" name="password" required><br>
  <input type="submit" value="ログイン">
</form>