<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li style="color:red"><%= error %></li>
    <% end %>
  </ul>
<% end %>
<h2>ユーザー登録</h2>
<form action="/signup" method="post">
  <label for="name">名前：</label><br>
  <input type="text" id="name" name="name" required><br>
  <label for="email">メールアドレス；</label><br>
  <input type="email" id="email" name="email" required><br>
  <label for="password">パスワード：</label><br>
  <input type="password" id="password" name="password" required><br>
  <input type="submit" value="登録">
</form>
